---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 80
AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: MultiLine
  BeforeElse: false
AlignAfterOpenBracket: Align
---